version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-name: "@lando/*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions:
        applies-to: version-updates
        update-types: [ "major", "minor", "patch" ]

    ignore:
      - dependency-name: "lando/prepare-release-action"
        versions: ["99", "99.x.x"] # v99 used for internal testing
