{
  "extends": ["oclif"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "guard-for-in": ["warn"],
    "no-console": ["warn"],
    "semi": ["error", "always"],
    "semi-style": ["error", "last"],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "never"
    }],
    "unicorn/prefer-module": "off",
    "unicorn/no-process-exit": "off"
  },
  "env": {
    "mocha": true
  }
}
