[submodule "Dockerfile"]
	path = Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "vim/Dockerfile"]
	path = vim/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
