# Common sys files
.*.swp
._*
.git
.hg
.sign
.lock-wscript
.svn
.wafpickle-*
.DS_Store
.idea/
*.tar
*.jxp
*.sublime-*

# Logs
*.log
logs

# NPM files
node_modules

# Build dirs
build
dist

# Tests
test/split-file.txt
test/*.func.js
.nyc_output
coverage/
test/leia

# Oclif=
*-debug.log
*-error.log
/.nyc_output
/dist
/package-lock.json
/tmp
node_modules
oclif.manifest.json
